---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	recipe: CollectionEntry<"recipe">;
	withDesc?: boolean;
};

const { as: Tag = "div", recipe, withDesc = false } = Astro.props;
---

<FormattedDate
	class="min-w-[120px] font-semibold text-gray-600 dark:text-gray-400"
	date={recipe.data.publishDate}
/>
<Tag>
	{recipe.data.draft && <span class="text-red-500">(Draft) </span>}
	<a class="cactus-link" data-astro-prefetch href={`/recipes/${recipe.id}/`}>
		{recipe.data.title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 italic">{recipe.data.description}</q>}
